<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Clinic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="cs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=clinic.mdb"
            providerName="System.Data.OleDb" />
        <add name="Clinic.Properties.Settings.cs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=clinic.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Clinic.Properties.Settings>
            <setting name="showDateNavigation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showPatientHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowTheme" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowGeometry" serializeAs="String">
                <value />
            </setting>
            <setting name="ClinicName" serializeAs="String">
                <value />
            </setting>
            <setting name="Address1" serializeAs="String">
                <value />
            </setting>
            <setting name="Address2" serializeAs="String">
                <value />
            </setting>
            <setting name="Address3" serializeAs="String">
                <value />
            </setting>
            <setting name="Phone1" serializeAs="String">
                <value />
            </setting>
            <setting name="Phone2" serializeAs="String">
                <value />
            </setting>
        </Clinic.Properties.Settings>
    </userSettings>
</configuration>