<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=clinic.mdb"
            providerName="System.Data.OleDb" />
        <add name="Clinic.Properties.Settings.cs" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;clinic.mdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>